coverage
node_modules
.DS_Store
lib
*.log
*.swp
*~
.vscode
examples/docs/api
examples/packages/library1/dist/*.d.ts
examples/packages/library1/etc/*.md
examples/packages/library1/temp
examples/packages/utilities/dist/*.d.ts
examples/packages/utilities/etc/*.md
examples/packages/utilities/temp
